body {
  background: rgb(44, 165, 206);
}
img {
  border-radius: 50px;
  margin-right: 10px;
}
h1 {
  color: white;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 0;
}
h2 {
  color: white;
  font-size: 18px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0;
}
h3 {
  color: white;
  font-size: 19px;
  font-weight: normal;
  margin-top: 2px;
}
p {
  color: white;
  position: absolute;
  right: 300px;
}
.container {
  border: 1px solid white;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: white;
  padding-left: 20px;
  padding-top: 35px;
  margin-top: 30px;
}
#city {
  width: 500px;
  height: 39px;
  margin-right: 10px;
  border-radius: 10px;
  border-color: #ffb5b5;
  background-color: white;
}
#weather {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
#description {
  text-transform: capitalize;
  color: white;
  font-size: 18px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 0;
}
.details {
  margin-top: 30px;
}
.celsius {
  font-size: 15px;
  margin-top: 0;
  color: white;
  top: -2px;
}
#button {
  color: white;
  background-color: blue;
  padding: 5px 30px;
  border-color: blue;
  border-radius: 10px;
}
#button:hover {
  color: white;
  background-color: rgb(34, 34, 134);
  transition: 200ms all ease-in-out;
  box-shadow: 1px 1px 1px;
}
.row {
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}
.col {
  text-align: center;
}
.footer {
  text-align: center;
  color: white;
  letter-spacing: 2px;
}
a {
  color: #975a5e;
  letter-spacing: 2px;
}
